* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
}

.wrapper {
  /* z-index: 1; */
  width: 100vw;
  height: 130vh;
  padding: 1rem;
  color: var(--colorLight2);
  background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  word-spacing: 0.4rem;
}

.tab-container {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.tab {
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 1.75px;
  padding: 5px 8px;
}

.tab.current-tab {
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 4px;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid #ffffff59;
  width: 500px;
  scale: 1;
  /* background: #00000088; */
  background: linear-gradient(310deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 107, 1) 0%,
      rgba(0, 0, 0, 1) 80%);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1;
  user-select: none;
  padding: 3.5rem 4rem;
  align-items: center;
  border-radius: 20px;
  transition: 0.4s ease-in-out;

}

.status {
  scale: 0;
}

.status.active {
  scale: 1;
}

.status p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.status :last-child {
  color: lightcoral;
}

.weather-container {
  margin-block: 4rem;
}

/* grant-location-container  */

.btn {
  all: unset;
  font-size: 0.85rem;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--colorDark2);
  cursor: pointer;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grant-location-container {
  display: none;
}

.grant-location-container.active {
  display: flex;
}

.grant-location-container img {
  margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
  font-size: 1.75rem;
  font-weight: 600;
}

.grant-location-container p:last-of-type {
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.75px;
}

/* loading screen container */

.loading-container {
  display: none;
}

.loading-container.active {
  display: flex;
}

.loading-container p {
  text-transform: uppercase;
}

/* Weather-info-container */

.user-info-container {
  display: none;
}

.user-info-container.active {
  display: flex;
}

.name {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  margin-bottom: 1rem;
}

.user-info-container p {
  font-size: 1.5rem;
  font-weight: 200;
}

.user-info-container img {
  width: 90px;
  height: 90px;
}

.name p {
  font-size: 2rem;
}

.name img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.user-info-container p[data-temp] {
  font-size: 2.75rem;
  font-weight: 700;
}

.parameter-container {
  width: 100%;
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.parameter {
  width: 100%;
  max-width: 200px;
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  /* justify-content: space-between; */
  align-items: center;
}

.parameter img {
  width: 50px;
  height: 50px;
}

.parameter p:first-of-type {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}

.parameter p:last-of-type {
  font-size: 1.2rem;
  font-weight: 250;
}

/* form container */

.form-container {
  display: none;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 2rem;
}

.form-container.active {
  display: flex;
}

.form-container input {
  all: unset;
  width: calc(100% - 80px);
  height: 40px;
  padding: 0 20px;
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 10px;
}

.form-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
  padding: unset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 1px;
}

/* Error Container */

.error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  text-align: center;
  border: 2px solid #ffffff59;
  background-color: #313942;
  /* backdrop-filter: blur(1px); */
  margin: 1rem 0rem;
  padding: 1rem;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
  z-index: 10;
  scale: 0;
  /* gap: 1rem; */
}

.error-container.active {
  scale: 1;
}

.errorNumber {
  display: flex;
  flex-direction: row;
  font-size: 6rem;
  /* margin-top: -6rem; */
}

.errorNumber span {
  margin: 0 -4rem;
}

@keyframes spooky {
  from {
    transform: translatey(0.08em) scaley(0.9);
  }

  to {
    transform: translatey(-0.2em);
  }
}

.errorNumber h1 {
  color: #e7ebf2;
  font-size: 11.5rem;
  letter-spacing: 0.10em;
  text-shadow: .05em .05em 0 rgba(0, 0, 0, .25);
  white-space: nowrap;
}

.error-container h2 {
  color: #e7ebf2;
  word-spacing: 0.2rem;
  margin: 0.5rem;
}

.error-container p {
  word-spacing: 0.12rem;
  letter-spacing: 0.02rem;
  color: #ccc;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

button {
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.btn-default {
  background-color: #e7ebf2;
  width: 30%;
  color: #ff4400;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: 0.4s ease-in-out;
}


.button-glow {
  animation: glowing 8000ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 0px #fa0303;
  }

  40% {
    scale: 1.1;
    box-shadow: 0 0 15px #c44500;
  }

  60% {
    scale: 1.1;
    box-shadow: 0 0 15px #c47600;
  }

  100% {
    box-shadow: 0 0 0px #fa0303;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #ffffff59;
  width: 100vw;
  scale: 0;
  background: linear-gradient(310deg,
      rgba(18, 14, 95, 0.694) 0%,
      rgba(1, 1, 44, 0.728) 0%,
      rgba(27, 27, 27, 0.781) 80%);
  backdrop-filter: blur(10px);
  color: white;
  padding: 3rem 5rem;
  transition: 0.4s ease-in-out;
}

.overlay.active {
  scale: 1;
  z-index: 1;
}

.sky {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -49% -50%;
  /* border: 2px solid #ffffff59; */
  width: 500px;
  scale: 0;
  /* backdrop-filter: blur(10px); */
  z-index: 9;
  user-select: none;
  padding: 5.4rem 4rem;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.sky.active {
  scale: 1;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  animation: animate 8s ease-in-out infinite,
    backgroundmove 16s linear infinite;
}

.stars.star1 {
  animation-delay: 0s;
  background-image: url("./assets/star1.png");
  background-size: cover;
}

.stars.star2 {
  animation-delay: 1s;
  background-image: url("./assets/star2.png");
  background-size: cover;
}

.stars.star3 {
  animation-delay: 2s;
  background-image: url("./assets/star3.png");
  background-size: cover;
}

.stars.star4 {
  animation-delay: 3s;
  background-image: url("./assets/star4.png");
  background-size: cover;
}

.stars.star5 {
  animation-delay: 4s;
  background-image: url("./assets/star5.png");
  background-size: cover;
}

@keyframes animate {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}

@keyframes backgroundmove {

  from {
    left: 0%;
  }

  to {
    left: -10%;
  }

}

/* @media (max-height : 630px) {

  .wrapper {
    height: auto;
  }

} */